*,
*,::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
     width: 1920px;
     height: 1080px;
     margin: 0;
     padding: 0;
    /* overflow: hidden;  Prevents scrolling if content exceeds 1920x1080 */
    
}

h1 {
    border-bottom: 3px solid black;
    padding-left: 40px;
    align-items: baseline;
}

/*header css */

.upper-header {
    display: flex;
    width: 100%;
    height: 110px;
    background-color: white;
    margin-bottom: 2px;
    position: fixed;
    flex-direction: row;

}

.header_content {
    border-bottom: 3px solid black;
    height: 100%;
    width: 1820px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    margin-right: 45px;
}

.header_logo {
    display: flex;
    align-items: left;

}

.header_logo img {
    width: 40px;
    height: 30px;

}

.logo_container {
    font-size: 25px;
    font-weight: 500;
}

.search_bar {
    width: 200px;
    align-self: self-end;
    margin-right: auto;
}

.search_bar img {
    width: 20px;
    height: 15px;

}

.header_img {
    width: 1920px;
    height: 500px;
    padding-top: 0px;
    
}

/* about us css*/

.about_us {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
}
#about_us h1 {
    font-size: 36px;
    color: #333;
}
.about_us_top_text{
    margin-top: 20px;
    box-sizing: content-box;
    padding: 5px;
    font-size: 18px;
    color: #333;
}

.about_us_top_text p {
    margin: 0 auto;
    max-width: 800px;
    box-sizing: content-box;

}
.about_us_left_img img {
    width: 350px;
    height: 350px;
    display: flex;
    padding-top: px;
}



.about_us_middle_text {
    width: 439px;
    font-size: 20px;
    font-weight: 200;
}
.about_us_middle_text p {
    margin-bottom: 100px;
    padding: 10px;
    align-content: center;
}


/* products css */


.flex_container {
    width: 100%;
    max-width: 500px; 
    margin: 0 auto;
    height: auto;
    
}
.products_list{
    height: auto;
    width: 100px;
}


.products_info {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    padding: 32px;
    box-sizing: border-box;
    border: 2px solid black;
    
}


.products_info img {
    width: 100%;
    max-width: 350px;
    height: 300px;
}


.products_info h2 {
    font-size: 1.2rem;
    margin-top: 10px;
}


.products_info p {
    font-size: 1rem;
    color: black;
}

/*Contact info */

.email_box {
    width: 300px;
}
.email_box p {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
}


/* Footer css */
.footer {
    width: 100px;
    margin-top: 158px;
    font-size: 20px;
    font-weight: 200;
    height: 162px;
    background-color: #BF7631;
}

.footer_left {
    display: flex;

}

.footer_left img {
    width: 74px;
    height: 74px;
    margin: 10px;
}