*,
*,::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5;
}

nav {
    box-sizing: border-box;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-start;
    align-items: center;
    

}

.header-img {
    width: 100%;

}

.searchbar-img {
    width: 50%;
}

.footer {
    box-sizing: border-box;
    height: 100px;
    background-color: #BF7631;
}