*,
*,::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5;
}

nav {
    box-sizing: border-box;
    background-color: #bf7631;
    width: 250px;
    height: 100px;
    

}

.header-img {
    width: 100%;

}